<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The presidential election - by geir owe</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1>Poll for the US 2020 election</h1>
    <p> Data source: fivethirtyeight</p>
    <p></p>
    <p>Biden: 50.20%.     Trump: 44.43%</p>
    <p></p>
    <p>Undersøkelsen ble gjort: 2.11.2020. 
       Antall svar i undersøkelsen: 49.152.416</p>
      
    {% endblock %}
  </body>
</html>
